
body{
    font-family: "Courier New", Helvetica, sans-serif;  
    background-color: lightblue;
}

#main-title{
    background-color: rgb(185, 33, 33);
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 10px auto 0px auto;

}   

#cubantitle{
    background-color: rgba(244, 162, 9, 0.908);
    font-size: 48px;
    text-align: center;
}   
.main-menu{
    display:block;
    text-align: center;
    margin: 0px auto;
    padding: 0px;
    background-color: rgb(222, 184, 135);
}
li .link:hover{
    color:white;
    font-size: 28px;
}
li .link{
    padding: 20px;
    font-size: 24px;
}
ul li:hover{
    background-color: rgb(208, 166, 110);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
ul li{
    font-size: 32px;
    color: blue;
    display: block;
    padding: 0px;
}
ul li:first-child{
    margin-top: 0px;
}
.button{
    text-align: end;
}
.button .home{
    background-color: black;
    color: white;  
    font-size: 28px;
}

ul.ingredients li{
    font-size: 26px;
    color: red;

}

h2{
    font-size: 30px;
}
h3{
    font-size: 28px;
}
a{
    font-size: 24px;
}

ol{
    font-size: 24px;
}

li a{
    display:block;
}